[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "*"
flask = "*"
flask-migrate = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
importlib-metadata = "*"
importlib-resources = "*"
ipdb = "*"
marshmallow = "*"
sqlalchemy-serializer = "*"
flask-swagger-ui = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_full_version = "3.10.12"
